@import "primeflex/primeflex.scss";
@import "bootstrap/dist/css/bootstrap.min.css";

.container {
  max-width: 1100px;
}

h2::after {
  content: "";
  width: 70px;
  height: 4px;
  background: linear-gradient(90deg, #2563eb, #06b6d4);
  display: block;
  margin-top: 0.5rem;
  border-radius: 2px;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.p-component {
  font-family: "Montserrat", sans-serif !important;
}
